*{
    margin: 0;
}

.tachado {
    text-decoration: line-through;
    color: #999999;
}

.vencida {
    color: #ff6f61; 
    font-weight: bold;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-direction: column;
    position: relative;
    gap: 20px;
    background: linear-gradient(90deg, #001f3f 0%, #000000 50%, #001f3f 100%);
}
/* -------------------------- CONTENEDOR INPUT --------------------------- */
.contenedor-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.contenedor-input h1 {
    font-size: 100px;
    font-family: Lucidity;
    color: #eee;
    
}

.contenedor-input h2 {
    font-size: 30px;
    font-family: Mulish;
    color: #eee;
}

/* ------------------------------- INPUT Y BOTON --------------------------------- */

.input-y-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #7b8eb2;
    border-radius: 5px;
    padding: 3px;
    color: #999999;
    width: 40%;
}

#input::placeholder{
    color: #999999;
}

#botonAgregar {
    background: linear-gradient(100deg, #0f1e40 45%, #4a6fa5 95%, #a2d2ff 120%);
    font-family: Montserrat;
    border: 2px solid #7b8eb2;
    color: azure;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#botonAgregar:hover {
    background: linear-gradient(100deg, #a2d2ff 45%, #4a6fa5 95%, #0f1e40 120%);
    color: #0f1e40;
    box-shadow: 0 0 8px rgba(162, 210, 255, 0.5);
    transform: scale(1.03);
}

#fechaLimite {
    background: transparent;
    color: azure;
    border-radius: 10%;
    padding: 2px;
    border: 2px solid #7b8eb2;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

#fechaLimite:hover {
    border-color: #a3bde3;
}


#fechaLimite::-webkit-calendar-picker-indicator {
    filter: invert(1); /* hace el ícono de calendario blanco en modo oscuro */
    cursor: pointer;
}

/* --------------- CONTENEDOR TAREAS -------------------- */
.contenedor-tareas {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
    width: 100%;
    max-width: 400px; 
    border: 2px solid #7b8eb2;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(100deg, #0f1e40 45%, #4a6fa5 95%, #a2d2ff 120%);
}

.contenedor-tareas button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #7b8eb2;
    color: azure;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contenedor-tareas button:hover {
    color: #0f1e40;
    box-shadow: 0 0 8px rgba(162, 210, 255, 0.5);
    transform: scale(1.03);
}

.contenedor-tareas li {
    color: #E6E6FA;
    font-family: Montserrat;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

/* ------------------------------------------------------------ */
.check-tarea {
    cursor: pointer;
}

.lista-tareas span {
    max-width: 70%;
     overflow-wrap: break-word; /*Sirve para romper palabras largas y que continuen en la sig linea */
}

/* --------------------------BOTON MODO---------------------------------- */
.botonModo {
    position: absolute;
    top: 10px;
    right: 10px;
}

#botonEstilo {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 6px 10px;
    transition: all 0.3s ease;
}

.botonModo:hover {
    background-color: rgba(162, 210, 255, 0.1);
    box-shadow: 0 0 8px rgba(162, 210, 255, 0.4);
    transform: scale(1.05);
    color: #ffffff;
}

/* ----------------- TEXTO SIN TAREAS ---------------- */
.sinTareas {
    color: #E6E6FA;
    font-family: Montserrat;
    font-size: 15px;
}



/* ----------------- ESTILADO MODO DIA ---------------- */

body.modo-dia {
    background: linear-gradient(90deg, #fce35a 0%, #F38181 50%, #fce35a 100%);
    color: #000;
}

body.modo-dia .contenedor-input h1,
body.modo-dia .contenedor-input h2 {
    color: #333;
}

body.modo-dia #input {
    background-color: rgba(255, 255, 240, 0.4);
    border: 2px solid #f5c16c;
    color: #6e5a44;
}

body.modo-dia #input::placeholder{
    color: #bca97d;
}

body.modo-dia .contenedor-tareas {
    background: linear-gradient(135deg, #fdd9a0 0%, #f8a5c2 100% );
    border: 2px solid #f5c16c;
}

body.modo-dia #botonAgregar {
    background: linear-gradient(135deg, #fdd9a0 0%, #f8a5c2 100%);
    color: #000;
    border: 2px solid #f5c16c;
}

body.modo-dia #botonAgregar:hover{
    background: linear-gradient(100deg, #ffe39f 45%, #f7b5a0 95%, #fce3b3 120%);
    color: #6e3f3f;
    box-shadow: 0 0 8px rgba(243, 129, 129, 0.5);
    transform: scale(1.03);
}


body.modo-dia .contenedor-tareas button {
    background-color: rgba(0, 0, 0, 0.05);
    color: #333;
    border: 2px solid #f5c16c;
}

body.modo-dia .contenedor-tareas button:hover {
    color: #d45500;
    background: rgba(245, 193, 108, 0.3);
    box-shadow: 0 0 8px rgba(245, 193, 108, 0.5);
    transform: scale(1.03);
}


body.modo-dia .contenedor-tareas li {
    color: #222;
}

body.modo-dia #botonEstilo {
    color: #333;
}

body.modo-dia #botonEstilo:hover {
    background-color: rgba(243, 129, 129, 0.1);
    box-shadow: 0 0 8px rgba(243, 129, 129, 0.4);
    color: #d45500;
}

body.modo-dia .sinTareas {
    color: #333;
}

body.modo-dia #fechaLimite {
    color: #222;
    border: 2px solid #f5c16c;
    transition: all 0.3s ease;
}

body.modo-dia #fechaLimite:hover {
    border-color: #d45500;
}


body.modo-dia #fechaLimite::-webkit-calendar-picker-indicator {
    filter: invert(15%) sepia(10%) saturate(100%) hue-rotate(0deg);
    cursor: pointer;
}

body.modo-dia .vencida {
    color: #b71c1c;
}
